
.home { 
  background-image: image-url('dragon.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
    a {
      color: rgb(104, 103, 103);
      margin: 20px;
    }
}

.top-bar {
  background-color: rgb(172, 109, 109);
  a {color: black;
    font-size: large;
  }
  .top-bar-right {
    .button {
      background-color: white;
      border-radius: 20%;
      margin-top: 20px;
      a {
        color: black;
      }
    }
  }
}
