
.home { 
  background-image: image-url('dragon.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
    a {
      color: rgb(104, 103, 103);
      margin: 10px;
    }
}

.top-bar {
  background-color: rgb(80, 43, 43);
  .top-bar-left {
    a {color: rgb(196, 162, 162);
    font-size: 3rem;
    font-family: 'UnifrakturCook', cursive;
    }
  }
}


