.book-title-text {
  color: rgb(0, 0, 0);
  font-size: 20px;
  margin-bottom: 0px;
  position: relative;
}

.book-tile-container {
  margin: 20px;
  position: absolute;
}

.list-image {
  background-image: image-url('old_paper.jpg');
  background-size: contain;
  background-repeat: repeat;
  background-position: center;
  width: 100%;
  height: 100%;
  position: relative;
  padding: auto;
}