.field {
  width: 40%;
  margin: 20px;
}

.add-button {
  width: 40%;
  text-align: center;
  margin: 0 27rem;
  color: white;
  background-color: #1779BA;
  padding: 12.24px 14.4px;
}

.login-sign-up{ 
  text-align: center;
  width: 67%;
  margin: auto;
}

.text-line {
  margin: 20px;
}

.a {
  color: rgb(80, 43, 43);
}

.label {
  background-color: rgb(80, 43, 43);
  color: white;
}